/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*padding-top: 80px;*/
  font-family: Arial, Helvetica, sans-serif;
  background-color: #6fa8dc;
}
.navbar {
  margin-top: 10px;
  /*height: 95px;*/
  margin-bottom: 1em;
}
.navbar-header, .navbar-brand, .navbar-right {
  height: 100%;
  line-height: 100%;
  font-size: xx-large;
  vertical-align: bottom;
}
.navbar-brand {
  /*font-family: "Arial Black", Gadget, sans-serif;*/
  background-color: #cf2a27;
  color: white;
  border-radius: 15px;
  padding: .5em;
  font-family: 'Press Start 2P', cursive;
  font-size: larger;
}
.navbar-brand:hover {
  color: white;
  text-decoration: underline;
}
.navbar-right {
  /*background-color: cyan;*/
  /*margin-top: 15px;*/
 /* padding-right: 0;
  margin-right: 0;*/
  /*vertical-align: bottom;*/
  /*background-color: yellow;*/
  /*height: 95px;*/
}
.navbar-right li{
  margin-left: .5em;
}
.btn-empty {
  color: white;
  background-color: black;
}
.container-main {
  background-color: white;
  /*margin-top: 1em;*/
  border-radius: 10px;
  padding-top: 1em;
}
#hero-img {
  width: 100%;
  height: 350px;
  background-color: #CCC;
}
.category_header {
  color: #cf2a27;
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  margin-top: 0;
}
.productdisplay {

}
  .productdisplay h3 {
    background-color: black;
    color: white;
    border-top-right-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    margin: 0 0 .5em 0;
    padding: .5em;
  }
  .productdisplay p {
    letter-spacing: 1px;
  }
  .add-to-cart {
    margin-top: 1em;
  }
  .add-to-cart h2 {
    text-align: center;
    margin-top: 5px;
  }
  .add-to-cart h4 {
    text-align: center;
  }
  #product-img {
    width: 400px;
    height: 400px;
    background-color: #CCC;
  }
  .product-tmb {
    width: 75px;
    height: 75px;
    background-color: #CCC;
    display: inline-block;
    margin-top: 5px;
  }
.signin-panel, .signin-panel-grey {
  padding: 1em 1em;
  margin-bottom: 1em;
}
  .signin-panel form {
    display: inline-block;
  }
  .signin-panel-grey {
    background-color: #DDD;
    border-radius: 10px;
  }
  .signin-panel-grey .category_header {
    color: black;
  }
.alert {
  margin: 20px auto;
}
footer {
  text-align: center;
  padding-top: 1em;
}
  pre {
    background-color: #6fa8dc;
    border: 0px solid #6fa8dc;
  }
  #googlemap{
    height:300px;
    width: 300px;
    margin-bottom:20px;
    margin-right:20px;
  }